
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" ng-app="pencilblueApp">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>Jobs at [Company]</title>

  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

  <link rel="shortcut icon" href="img/favicon.png">

  <link rel="stylesheet" type="text/css" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="assets/public/cms_base/version/935a51c32c21711dedacab4a6359b01c78d0912f/css/general_styles.css">
  <link rel="stylesheet" type="text/css" href="assets/public/tn_job/version/99ce40f875dcf388fba9753bf5e039227ee7c405/css/tn_job_styles.css">
  <!-- <link rel="stylesheet" type="text/css" href=""> -->
  <link rel="stylesheet" type="text/css" href="assets/public/premium/css/premium_custom_styles.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script type="text/javascript" src="assets/public/cms_base/version/935a51c32c21711dedacab4a6359b01c78d0912f/compiled_bower/required_bower_scripts.min.js"></script>
</head>
<body id="premium-body" ng-controller="PencilBlueController">


  <div id="src-tracking-loader" ng-controller="SourceTrackingFrontController"></div>

  <!-- Header -->
  <header id="back-top">
    <!-- Top social -->
    <section class="top-social hidden-xs">
      <div class="container">
        <div class="row">
          <!-- Social share -->
          <div class="col-xs-12 col-sm-12 pull-right">
            <!-- Top header -->
            <div class="pull-right top-header">
              <!-- Join Our Talent Network -->
              <div class="join-top">
                <a href="/join" class="btn btn-join" title="Join Our Talent Network">Join Our Talent Network</a>
              </div>
              <!-- End Join Our Talent Network -->

              <!-- Social icons -->
              <div class="social-icons">
                <ul class="list-inline social-items">
                  <li><a href="#" class="custom-social facebook-icon" target="_blank" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#" class="custom-social twitter-icon" target="_blank" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#" class="custom-social linkedin-icon" target="_blank" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  <li><a href="#" class="custom-social youtube-icon" target="_blank" title="YouTube"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                  <li><a href="#" class="custom-social instagram-icon" target="_blank" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                  <li><a href="#" class="custom-social pinterest-icon" target="_blank" title="Pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                  <li><a href="#" class="custom-social rss-icon" target="_blank" title="RSS"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                </ul>
              </div>
              <!-- End Social Icons -->
            </div>
            <!-- End Top header -->
          </div>
          <!-- End Social share -->
        </div>
      </div>
    </section>
    <!-- End Top social -->

    <!-- Top navbar -->
    <section class="top-navbar">

      <!-- Container -->
      <div class="container">
        <!-- Navbar brand top -->
        <div class="navbar-brand-top visible-sm visible-md">
          <div class="row navbar-brand-row">

            <div class="col-xs-6 col-md-6">
              <!-- Logo -->
              <div class="logo-top">
                <a href="/" title="[Company] Careers" alt="[Company] Careers">
                  <img src="img/site-logo.png" alt="[Company] Careers">
                </a>
              </div>
              <!-- End Logo -->
            </div>

            <div class="col-xs-6 col-md-6">
              <!-- Join Our Talent Network -->
              <div class="join-top">
                <a href="/join" class="btn btn-join" title="Join Our Talent Network">Join Our Talent Network</a>
              </div>
              <!-- End Join Our Talent Network -->
            </div>

          </div>
        </div>
        <!-- End Navbar brand top -->
      </div>
      <!-- End Container -->

      <!-- Navbar default -->
      <nav class="navbar navbar-default" role="navigation">
        <!-- Container -->
        <div class="container">

          <!-- Navbar mobile -->
          <div class="navbar-header">
            <!-- Navbar toggle -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
            </button>
            <!-- End Navbar toggle -->

            <!-- Logo desktop -->
            <a href="/" class="navbar-brand visible-lg" title="[Company] Careers" alt="[Company] Careers">
              <img src="img/site-logo.png" alt="[Company] Careers">
            </a>
            <!-- End Logo desktop -->

            <!-- Logo mobile -->
            <a href="/" class="navbar-brand visible-xs" title="[Company] Careers" alt="[Company] Careers">
              <img src="img/site-logo-mobile.png" alt="[Company] Careers">
            </a>
            <!-- End Logo mobile -->
          </div>
          <!-- End Navbar mobile -->

          <!-- Navbar collapse -->
          <div class="collapse navbar-collapse" id="navbar">
            <!-- Navbar nav -->
            <ul class="nav navbar-nav">
              <!-- Navigation -->
              <!-- ^navigation^ -->
              <li class="active">
                <a href="#" target="">
                  Careers
                </a>
              </li>
              <li class="">
                <a href="#" target="">
                  About Us
                </a>
              </li>
              <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Featured Positions&nbsp;<i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li class="">
                    <a href="#" target="_self">
                      Featured Jobs #1
                    </a>
                  </li>
                  <li class="">
                    <a href="#" target="_self">
                      Featured Jobs #2
                    </a>
                  </li>
                  <li class="active">
                    <a href="#" target="_self">
                      Featured Jobs #3
                    </a>
                  </li>
                  <li class="">
                    <a href="#" target="_self">
                      Featured Jobs #4
                    </a>
                  </li>
                </ul>
              </li>
              <li class="">
                <a href="#" target="">
                  Search Jobs
                </a>
              </li>
              <!-- End Navigation -->
              <li class="visible-xs">
                <a href="/join" title="Join Our Talent Network">Join Our Talent Network</a>
              </li>
            </ul>
            <!-- End Navbar nav -->
          </div>
          <!-- End Navbar collapse -->
        </div>
        <!-- Container -->
      </nav>
      <!-- End Navbar default -->
    </section>
    <!-- End Top navbar -->
  </header>
  <!-- End Header -->

  <!-- Mobile search button -->
  <button type="button" class="navbar-toggle search-toggle-button-mobile collapsed" data-toggle="collapse" data-target="#SearchBoxMobile" aria-expanded="false" title="Search">
    <span class="sr-only">Toggle search</span>
    <i class="fa fa-search"></i>
  </button>
  <!-- End Mobile search button -->

  <!-- Content page -->
  <section class="content-banner hidden-4k">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 no-padding">
          <img src="img/banner.png" class="img-responsive full-wd visible-4k" alt="Content banner">
        </div>
      </div>
    </div>
  </section>
  <!-- End Content page -->

  <!-- Mobile Search -->
  <div id="SearchBoxMobile" class="search-mobile collapse" aria-expanded="false">
    <!-- Search box -->
    <div class="search-box visible-xs">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="search-box-content">

              <!-- Search bar -->
              <!-- ^tmp_elements=search_bar^ -->
              <script type="text/javascript">
              var countryDropdownEnabled = false;
              </script>

              <div id="search-bar" class="" ng-controller="SearchBarController">
                <div class="search-bar-element search-field-container">
                  <label for="search-keywords-field" class="hidden-xs search-bar-keyword-label label-text">Keyword:</label>
                  <input id="search-keywords-field" type="text" class="search-bar-keyword-field form-control" ng-model="keywordInput"
                  ng-keydown="checkKeywordKeydown($event)" placeholder="Job Title or Category">
                </div>
                <div class="search-bar-element search-field-container search-location-field">
                  <label for="search-location-field" class="hidden-xs search-bar-location-label label-text">Location:</label>

                  <input id="search-location-field" autocomplete="off" type="text" class="form-control search-bar-location-field " ng-keydown="checkLocationKeydown($event)"
                  ng-model="locationInput" ng-change="getSuggestions()" placeholder="City or Postal Code">
                  <ul id="suggestions" class="list-group autocomplete-list suggestions-list" role="list" ng-show="locationSuggestions.length > 0" ng-cloak>
                    <li ng-repeat="location in locationSuggestions" class="blockSpan list-group-item" ng-click="addToSelectedTags($index)"
                    ng-mouseover="$parent.selectedIndex=$index" ng-class="{active : selectedIndex===$index}">{{$parent.googlePlacesAutocompleteEnabled ? location.description : location}}</li>
                    <li ng-repeat-end class="autocompletefooter" ng-if="googlePlacesAutocompleteEnabled"><img src='/public/cms_base/img/powered_by_google_on_white.png' align='right'class='google-footer'></li>
                  </ul>
                </div>
                <div class="search-bar-element search-widget-container">
                  <a ng-href="{{searchUrl()}}" id="primary-search-button" target="_top" class="search-btn primary-button text-center label-text">Search</a>
                </div>
              </div>
              <!-- End Search bar -->

              <!-- View all jobs -->
              <p class="link-center">
                <a href="/search" class="view-all-jobs" title="View All Jobs at [Company]">View All Jobs at [Company]</a>
              </p>
              <!-- End View all jobs -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Search box -->
  </div>
  <!-- End Mobile Search -->

  <!-- Desktop Search -->
  <div class="search-desktop hidden-xs">
    <!-- Search box -->
    <div class="search-box">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="search-box-content">

              <h1>Search For Jobs</h1>
              <!-- Search bar -->
              <!-- ^tmp_elements=search_bar^ -->
              <script type="text/javascript">
              var countryDropdownEnabled = false;
              </script>

              <div id="search-bar" class="" ng-controller="SearchBarController">
                <div class="search-bar-element search-field-container">
                  <label for="search-keywords-field" class="hidden-xs search-bar-keyword-label label-text">Keyword:</label>
                  <input id="search-keywords-field" type="text" class="search-bar-keyword-field form-control" ng-model="keywordInput"
                  ng-keydown="checkKeywordKeydown($event)" placeholder="Job Title or Category">
                </div>
                <div class="search-bar-element search-field-container search-location-field">
                  <label for="search-location-field" class="hidden-xs search-bar-location-label label-text">Location:</label>

                  <input id="search-location-field" autocomplete="off" type="text" class="form-control search-bar-location-field " ng-keydown="checkLocationKeydown($event)"
                  ng-model="locationInput" ng-change="getSuggestions()" placeholder="City or Postal Code">
                  <ul id="suggestions" class="list-group autocomplete-list suggestions-list" role="list" ng-show="locationSuggestions.length > 0" ng-cloak>
                    <li ng-repeat="location in locationSuggestions" class="blockSpan list-group-item" ng-click="addToSelectedTags($index)"
                    ng-mouseover="$parent.selectedIndex=$index" ng-class="{active : selectedIndex===$index}">{{$parent.googlePlacesAutocompleteEnabled ? location.description : location}}</li>
                    <li ng-repeat-end class="autocompletefooter" ng-if="googlePlacesAutocompleteEnabled"><img src='/public/cms_base/img/powered_by_google_on_white.png' align='right'class='google-footer'></li>
                  </ul>
                </div>
                <div class="search-bar-element search-widget-container">
                  <a ng-href="{{searchUrl()}}" id="primary-search-button" target="_top" class="search-btn primary-button text-center label-text">Search</a>
                </div>
              </div>
              <!-- End Search bar -->

              <!-- View all jobs -->
              <p class="link-center">
                <a href="/search" class="view-all-jobs" title="View All Jobs at [Company]">View All Jobs at [Company]</a>
              </p>
              <!-- End View all jobs -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Search box -->
  </div>
  <!-- End Desktop Search -->

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h1 class="text-center text-white text-uppercase">Footer</h1>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX9bDtzse0NKvnFFtJOY-G3DJMwSuZzHg&libraries=places"></script>
  <script type="text/javascript" src="assets/public/cms_base/version/935a51c32c21711dedacab4a6359b01c78d0912f/angular/scripts/tn_scripts.min.js"></script>

</body>
</html>
