
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" ng-app="pencilblueApp">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>Jobs at [Company]</title>

  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

  <link rel="shortcut icon" href="img/favicon.png">

  <link rel="stylesheet" type="text/css" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="assets/public/cms_base/version/935a51c32c21711dedacab4a6359b01c78d0912f/css/general_styles.css">
  <link rel="stylesheet" type="text/css" href="assets/public/tn_job/version/99ce40f875dcf388fba9753bf5e039227ee7c405/css/tn_job_styles.css">
  <!-- <link rel="stylesheet" type="text/css" href=""> -->
  <link rel="stylesheet" type="text/css" href="assets/public/premium/css/premium_custom_styles.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script type="text/javascript" src="assets/public/cms_base/version/935a51c32c21711dedacab4a6359b01c78d0912f/compiled_bower/required_bower_scripts.min.js"></script>
</head>
<body id="premium-body" ng-controller="PencilBlueController">


  <div id="src-tracking-loader" ng-controller="SourceTrackingFrontController"></div>

  <!-- Internals section -->
  <section class="internals-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12">

          <!-- Edit preference view -->
          <div id="edit-preference-view">
            <div class="editPrefPageContainer container">
              <div class="content-card">
                <div class="row" ng-controller="EditPreference as vm">
                  <div class="col-xs-12">
                    <!-- Header Row -->
                    <div class="row">
                      <div class="col-xs-12">
                        <h1 id="edit-preference-title" class="text-uppercase text-center">
                          Edit your job preferences
                        </h1>
                        <br/>
                      </div>
                    </div>

                    <!-- Instruction -->
                    <div class="row">
                      <div id="edit-preference-instructions" class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <h3>
                          These preferences determine the types of job alerts you receive.  Take a moment to update them, so that we can send you emails that match your current needs.<br/>
                        </h3>
                      </div>
                    </div>

                    <hr width="65%">
                    <!-- Form Section -->
                    <div class="row">
                      <div class="col-xs-12 col-sm-8 col-sm-offset-2" name="formContainer">
                        <form id="edit-preference-form" class="form-group centered" name="editPrefForm" ng-submit="vm.submitNewPreference()">

                          <div id="edit-preference-success-message" ng-show="vm.showSuccess" class="alert alert-success">You have successfully updated your desired job title!
                          </div>
                          <div id="edit-preference-error-message" ng-show="vm.showError" class="alert alert-danger">Sorry, we could not update your desired job title!
                          </div>

                          <p id="edit-preference-djt-label">Desired Job Title (e.g. 'nurse' or 'consultant')</p>
                          <input id="edit-preference-djt-field" class="form-control editPrefFormControl" name='editPrefInputField' type="text"
                          value="vm.desiredJobTitle"
                          ng-model="vm.desiredJobTitle"
                          ng-init="vm.desiredJobTitle = 'engineer';"
                          ng-model-options="{ updateOn : 'default blur' }"/> <br/>

                          <p id="edit-preference-location-label">Location (e.g. '60601' or 'EH209QY)</p>
                          <input id="edit-preference-location-field" class="form-control editPrefFormControl" name='editPrefLocationInputField' type="text"
                          value="vm.location"
                          ng-model="vm.location"
                          ng-init="vm.location = '30092';"
                          ng-model-options="{ updateOn : 'default blur' }"/> <br/>

                          <input id="edit-preference-update-btn" class="btn btn-default text-uppercase primary-button" type="submit"
                          value="Update"/>
                          <div class="text-center top-buffer">
                            <a id="edit-preference-unsubscribe-link" href="#">Unsubscribe</a>
                          </div>
                        </form>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- End Edit preference view -->

        </div>
      </div>
    </div>
  </section>
  <!-- End Internals section -->

  <!-- Footer -->
  <footer>
  </footer>
  <!-- End Footer -->

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX9bDtzse0NKvnFFtJOY-G3DJMwSuZzHg&libraries=places"></script>
  <script type="text/javascript" src="assets/public/cms_base/version/935a51c32c21711dedacab4a6359b01c78d0912f/angular/scripts/tn_scripts.min.js"></script>
  
</body>
</html>
