// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.landing-banner{
  background: url("../img/banner-mobile.png") no-repeat center center;
  background-size: cover;
  height: 450px; // -> Always
  position: relative;
}

// .content-banner{
//   background: url("../img/content-banner-mobile.png") no-repeat center center;
//   background-size: cover;
//   height: 240px;
//   position: relative;
// }

@media (min-width: 768px) {

  .landing-banner{
    background: none;
    height: auto;

    #landing-carousel{
      .item{
        background: url("../img/banner.png") no-repeat center center;
        background-size: cover;
        height: 620px;
      }
    }
  }

  // .content-banner{
  //   background: url("../img/content-banner.png") no-repeat center center;
  //   background-size: cover;
  //   height: 320px;
  //   position: relative;
  // }

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
